@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: 'Viga';
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }

  p,
  li {
    font-family: 'Roboto';
  }
}
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .clip-path-incline {
    clip-path: polygon(100px 0, 100% 0, 100% 100%, 0% 100%);
  }

  .slant-bg-secondary::before {
    content: '';
    background-color: #014f8d;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 15vw;
    float: left;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);

     @media (max-width: 768px) { 
      clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);
    } 
  }
}

.text-customBlue {
  @apply text-blue-500;
}

.hover\:text-customBlue:hover {
  @apply text-blue-600;
}

.custom-button-small {
  @apply text-white text-center flex items-center justify-center hover:bg-white transition-all border border-black ;
  width: 164px;
  height: 45px;
}

.header-background {
  @apply bg-[#23314B] flex items-center; /* Combina bg-customBlue con tu color actual */
  height: 100px;
  padding: 16px; /* O usa @apply py-4 */
}

.banner-home{
  padding-left: 155px;
 padding-bottom: 200px;
}

.custom-title-home{
width: 60%;
}

.custom-subtitle-home{
  width: 619px;
  font-size: 20px;
}

.custom-button-home{
  
  background-color: #23314B;
  width: 297px;
  height: 59px;
}
.img-container-home{
  margin-bottom: 20px;
}

.img-experts{
  left: 50px;
}
.img-experts1{
  left: 100px;
}
.img-experts2{
  left: 150px;
}

.span-white-1{
  width: 250px;
  margin-bottom: 80px;
}

.span-white-2{
  width: 1100px;
  margin-bottom: -90px;
}
.container-img-section2{
  padding-left: 155px;
  padding-right: 155px;
}

.img-section2{
  width: 808px;
  height: 559px;
  left: 155px;
  top: -120px;

}

.title-containerimg-section2{
  font-size: 50px;
}
.p-containerimg-section2{
  font-size: 25px;
  font-weight: 400;
  color: #0E121A;
}

.circle-estadistics-home {
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  transition: all 0.3s ease-in-out; /* Para el efecto de hover */
}

.circle-estadistics-home:hover {
  background-color: rgba(101, 101, 104, 0.137); /* Cambia el fondo en hover */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño en hover */
}
.group-circle{
  padding-right: 35px;
  padding-left: 35px;
}

.container-cards-home{
  padding-left: 40px;
  padding-right: 40px;
}

.cards-home{
  width: 380px;
  height: 490px;
}

.contain-practice{
  margin-top: 120px;
}

.title-practice{
  font-size: 50px;
}

.areasdepractica-banner{
  background-color: #D9D9D980;
  height: 550px;
}

.img-banner-areasdepractica{
  width:1025px;
  height: 550px;
}

.contain-info-areasdepractica{
  width: 619px;

}
.title-areasdepractica-banner{
  font-size: 50px;
  color: #23314B
}

.p-banner-areasdepractica{
  font-size: 22px;
  line-height: 30px;
}
.p-cards-areasdepractica{
  font-size: 18px;
  height: 216px;
}
.title-cards-areasdepractica{
  font-size: 30px;
}

.desafiolegal-areasdepractica-contain{
  width: 1560px;
}
.title-desafiolegal-areasdepractica{
  font-size: 50px;
}

.p-desafiolegal-areasdepractica{
  font-size: 22px;
}

.img-banner-elestudio{
  width:1025px;
  height: 550px;
}
.section-white-elestudio{
  width: 100%;
  height: 500px;
}

.elestudio-maps-contain{
  width: 1560px;
}

.group-member-info{

}
.name-member{
  font-size: 40px;
}

.job-member{
  font-size: 30px;
  margin-top: 10px;
}
.section-white-elestudio{
width: 100%;
height: 900px;
}
.section-white-elestudio-p {
 
  font-size: 22px;
  line-height: 30px;
}
